*{
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

.home{
    min-height: 100vh;
    width: 100%;
    background-image: url(img/home.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height: 60px;
    width: 60x;
}

.nav-bar{
    flex: 1;
    text-align: right;
}

.nav-bar ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-bar ul li a{
    color: #ffdf2b;
    font-size: 20px;
    text-decoration: none;
}

.nav-bar ul li a:hover{
    color: white;
}

.text-home{
    color: white;
    position: absolute;
    text-align: center;
    top: 36.5%;
    right: 12.5%;
}

.text-home h1{
    font-size: 120px;
}

.text-home p{
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
}

.button-home{
    padding-left: 158px;
    padding-top: 400px;
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
    position: relative;
}

.button-home a{
    display: inline-block;
    padding: 10px 15px;
    color: #ffdf2b;
    background-color: transparent;
    border-color: #ffdf2b;
    text-decoration: none;
    border-radius: 25px;
    border-style: solid;
}

.button-home a:hover{
    color: black;
    background-color: #ffdf2b;
}

.education{
    min-height: 100vh;
    width: 100%;
    background-image: url(img/black.png);
    background-size: cover;
    background-position: center;
    padding: 5% 5% 5% 5%;
    box-sizing: border-box;
    position: relative;
}

table{
    width: 100%;
}

tr{
    display: flex;
    align-items: center;
    height: 88%;
}

td{
    flex-basis: 50%;
}

td h1{
    color: #ffdf2b;
    font-size: 100px;
}

td p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.kotak-edu{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 10px 15px;
}

.kotak-edu h5{
    font-size: 25px;
    text-align: left;
    font-family: 'Inconsolata', monospace;
    color: white;
}

.kotak-edu p{
    font-size: 10px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#sd{
    background-image: url(img/sd.png);
}

#smp{
    background-image: url(img/smp.png);
}

#sma{
    background-image: url(img/sma.png);
}

#univ{
    background-image: url(img/univ.png);
}

.experience{
    min-height: 100vh;
    width: 100%;
    background-image: url(img/black.png);
    background-size: cover;
    background-position: center;
    padding: 5% 5% 5% 5%;
    box-sizing: border-box;
    position: relative;
}

.experience h1{
    color: white;
    font-size: 100px;
}

.kotak-exp{
    width: 250px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 10px 15px;
    background-color: #ffdf2b;
}

.interest{
    min-height: 100vh;
    width: 100%;
    background-image: url(img/black.png);
    background-size: cover;
    background-position: center;
    padding: 5% 5% 0 5%;
    box-sizing: border-box;
    position: relative;
}

.interest h1{
    color: #ffdf2b;
    font-size: 100px;
    text-align: center;
}

.kotak-int{
    width: 200px;
    height: 275px;
    display: inline-block;
    padding: 15px 25px;
    margin: 10px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #303030;
}

.kotak-int h2{
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.kotak-int p{
    color: white;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

table{
    width: fit-content; 
    padding-top: 10%;
}

table tr td img{
    height: 25px; 
    width: 25px;
}

table tr td h2{
    color: white; 
    font-size: 18px;
}

#space{
    height: 25px; 
    width: 55px;
}
